doctype html
html
    head
        link(rel="stylesheet" href="nav.css")
    body
        .nav
            h3.header SHINEE
            .buttons
                a Преимущества
                a Услуги
                a Отзывы
                a Контакты
            .callback
                .phone +7 495 788 08 08
                p Обратный звонок